/* div#translate{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: aqua;
    background-color: black;
    transform: translate(100px ,50px);
    padding: 5px;
} */
/* div#rotate{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
    transform:rotate(-275deg);
    padding: 5px;
}
div#scale{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
    transform:scaleY(3);
    padding: 5px;
} */
/* div#skewx{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
    transform: skewX(7deg);
    padding: 5px;
}
div#skewy{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
    transform: skewY(-7deg);
    padding: 5px;
}
div#rotateX{
    transform: rotateX('150deg');
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
}
div#rotateY{
    transform: rotateY('150deg');
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
} 
div#rotateZ{
    transform: rotateZ('150deg');
    width: 220px;
    height: 220px;
    border-radius: 5px;
    color: black;
    background-color: aqua;
} */
div{
    width: 200px;
    height: 200px;
    background: blue;
    transition: background  3s ,border-radius 5s;
    /* transition-timing-function: linear; */
    transition-timing-function:ease-in-out ;
 }
 div:hover{
    background: red;
    border-radius: 50%;
 }
 #figure_3 img{
    transform: scale(1);
    transition: .3s ease-in-out;
 }
 #figure_3:hover img{
    transform: scale(1.3);
 }
 #figure_4{
    transform: scale(1);
    transition: .3s ease-in-out;
 }
 #figure_4:hover{
    margin-left: 60px;
 }
 #figure_2 img{
    filter: blur(3px);
    transition: .3s ease-in-out;
 }
 #figure_2:hover img{
    filter: blur(0px);
 }
 #figure_1 img{
    filter: grayscale(100);
    transition: .3s ease-in-out;
 }
 #figure_1:hover img{
    filter: grayscale(0);
 }
 .loader img{
    margin: 100px;
 }
 .loader img{
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 8px;
    animation: bounce 8s infinite alternate;
 }
 @keyframes bounce{
    to{
        width: 150px;
        height: 150px;
        transform: translate(0, -50, 0 );
    }
 }