.container{
    display: flex;
    background: blue;
}
.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
}
.container div:nth-child(1){
    order: 2;

}
.container div:nth-child(2){
    order: 3;
    
}
.container div:nth-child(3){
    order: 0;
    
}
.container div:nth-child(4){
    order: 1;
    
}
.container2{
    display: flex;
    background: blue;
    /* flex-direction: row; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}
.container2 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
}
.container3{
    display: flex;
    background: blue;
     flex-direction: row; 
    
}
.container3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
}
.container3 div:nth-child(1){
    flex-grow: 4;
}
.container4{
    display: flex;
    background: blue;
     flex-direction: row; 
     flex-wrap: wrap;
    
}
.container4 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
    width: 50%;
}
.container5{
    display: flex;
    background: blue;
     flex-direction: row; 
     justify-content: center;
     height: 200px;
    
}
.container5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
     height: 50px;
}
.container5 div:nth-child(2){
    align-self: flex-end;
}